<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<meta charset="UTF-8"/>
<h1 th:text="${title}">Default Title</h1>
</head>
<body>
<form method="POST" style="max-width:600px;" th:object="${supplier}" action="addOrUpdateSupplierOrMaterial">
    <div class="supplier">
        <label th:for="name">Name</label>
        <div>
            <input class="form-control" th:field="*{name}"/>
            <span th:errors="*{name}" class="error"></span>
        </div>
    </div>


    <div clas="supplier">
        <label th:for="address">Address</label>
        <div>
            <input class="form-control" th:field="*{address}"/>
            <span th:errors="*{address}" class="error"></span>
        </div>
    </div>

    <div class="material">
        <label th:for="email">Email</label>
        <div>
            <input class="form-control" th:field="*{email}"/>
            <span th:errors="*{email}" class="error"></span>
        </div>
    </div>

    <div class="supplier">
        <label th:for="phone">Phone</label>
        <div>
            <input class="form-control" th:field="*{phone}"/>
            <span th:errors="*{phone}" class="error"></span>
        </div>
    </div>

    <div class="supplier">
        <label th:for="fax">Fax</label>
        <div>
            <input class="form-control" th:field="*{fax}"/>
            <span th:errors="*{fax}" class="error"></span>
        </div>
    </div>



    <!-- Making option of materials suppose that we have already the materials in the database.
     if we don't have them before, this form will not process because the controller required
       the material id that suppose the existence of the material.How to avoid this error
       when no material is in the database of the material, we just recommend here a
       the <input> of the material or id instead of the <select> options
       -->
    <!--    <div class="form-group">
        <label th:for="material">Material</label>
        <select name="matId">
            <option th:each="mat : ${materials}"
                    th:text="${mat.matName}"
                    th:value="${mat.matId}">
            </option>
        </select>
    </div>-->

    <div class="material">
        <label th:for="matName">Supplied Material name</label>
        <div>
            <input class="form-control" name="matName" th:text="${matName}"/>
        </div>
    </div>

    <div class="material">
        <label th:for="nmaterialId">Supplied Material id</label>
        <div>
            <input class="form-control" name="nmaterialId" th:text="${nmaterialId}"/>
        </div>
    </div>
    <div><input type="submit" value="Add a new supplier"/></div>
</form>
</html>