<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8"/>
<h1 th:text="${title}">Default Title</h1>
</head>
<body>
<!--<form method = "POST" style="max-width:600px;" th:object="${supplier}" action = "add">-->
<form method = "POST" style="max-width:600px;" th:object="${supplier}" action = "addo">
<div class="supplier">
        <label th:for="name">Name</label>
        <div>
            <input class="form-control" th:field="*{name}"/>
            <span th:errors="*{name}" class="error"></span>
        </div>
    </div>


    <div clas="supplier">
        <label th:for="address">Address</label>
        <div>
            <input class="form-control" th:field="*{address}"/>
            <span th:errors="*{address}" class="error"></span>
        </div>
    </div>

    <div class="supplier">
        <label th:for="email">Email</label>
        <div>
            <input class="form-control" th:field="*{email}"/>
            <span th:errors="*{email}" class="error"></span>
        </div>
    </div>

    <div class="supplier">
        <label th:for="phone">Phone</label>
        <div>
            <input class="form-control" th:field="*{phone}"/>
            <span th:errors="*{phone}" class="error"></span>
        </div>
    </div>

    <div class="supplier">
        <label th:for="fax">Fax</label>
        <div>
            <input class="form-control" th:field="*{fax}"/>
            <span th:errors="*{fax}" class="error"></span>
        </div>
    </div>
    <input type="submit" value="Add a new supplier"/>
</form>
</body>
</html>


