<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation_home"></nav>

<p th:unless="${suppliers} and ${suppliers.size()}">no supplier yet :(</p>


<table class="table">

    <tr>
        <th>List of suppliers</th>
    </tr>

    <tr>
        <th>Name</th>
        <th>materials</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Fax</th>
    </tr>

    <tr th:each="supplier:${suppliers}">
        <!--<li><a th:href="'supplier/'+${supplier.id}" th:object="${supplier}"></a></li>-->
        <td th:text="${supplier.name}"></td>
        <td th:text="${supplier.materials}"></td>
        <td th:text="${supplier.email}"></td>
        <td th:text="${supplier.address}"></td>
        <td th:text="${supplier.phone}"></td>
        <td th:text="${supplier.fax}"></td>
    </tr>
</table>
<nav>
    <b><a href="/supplier/addo">Add new Supplier</a>|</b>
    <b><a href="/material">Materials</a> |</b>
    <b><a href="/flow">flow</a> |</b>
    <b><a href="/material">Material</a> |</b>
    <b><a href="/location">Locations</a> |</b>
    <b><a href="/location/search">search Location</a> |</b>
</nav>
</body>
</html>