<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <h1 th:text="${title}">Default Title</h1>
</head>
<body>
<form  method="POST" style="max-width:600px;" th:object="${materialOrder}" action="add">
    <div class="form-group">
        <div>
            <label th:for="datetime">Date</label>
            <input class="form-control"  th:field ="*{date}"/>
            <span th:errors="*{date}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="material">Material</label>
        <select name="material">
            <option th:each="material : ${materials}"
                    th:text="${material.matName}"
                    th:value="${material.matId}">
<!--                <label th:for="orderdQuantity">Quantity Ordered</label>
                <div>-->
                    <input class="form-control" th:field="*{orderdQuantity}" placeholder="Enter the quantity"/>
                    <span th:errors="*{orderdQuantity}" class="error"></span>
                <!--</div>-->
                <!--<label th:for="destination">Destination</label>-->
                <!--<div>-->
                    <input class="form-control" th:field="*{Destination}" placeholder="Enter the destination"/>
                    <span th:errors="*{destination}" class="error"></span>
                <!--</div>-->
            </option>
        </select>
    </div>

    <!--<div class="material">
        <label th:for="orderdQuantity">Quantity Ordered</label>
        <div>
            <input class="form-control" th:field="*{orderdQuantity}"/>
            <span th:errors="*{orderdQuantity}" class="error"></span>
        </div>
    </div>

    <div class="material">
        <label th:for="destination">Destination</label>
        <div>
            <input class="form-control" th:field="*{Destination}"/>
            <span th:errors="*{destination}" class="error"></span>
        </div>
    </div>
-->
    <input type="submit" value="Edit order" />
</form>

</body>
</html>