<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
<form  method="POST" style="max-width:600px;" th:object="${materialOrder}" action="add">
    <div class="form-group">
        <div>
            <label th:for="datetime">Date</label>
            <input class="form-control" type="datetime" th:field ="*{date}"/>
            <span th:errors="*{date}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="material">Material</label>
        <select name="material">
            <option th:each="material : ${materials}"
                    th:text="${material.matName}"
                    th:value="${material.matId}">
            </option>
        </select>
    </div>
    <div>
        <label th:for="orderedQuantity">Quantity Ordered</label>
        <div>
            <input class="form-control" th:field="*{orderedQuantity}" placeholder="Enter the quantity"/>
            <span th:errors="*{orderedQuantity}" class="error"></span>
        </div>
    </div>
    <div>
          <label th:for="destination">Destination</label>
          <div>
              <input class="form-control" th:field="*{Destination}" placeholder="Enter the destination"/>
              <span th:errors="*{destination}" class="error"></span>
          </div>
    </div>

    <div class="material">
        <label th:for="isPicked"></label>
        <div>
            <input class="form-control" th:field="*{picked}" th:value="${picked}" type="hidden"/>
            <span th:errors="*{picked}" class="error"></span>
        </div>
    </div>

    <div class="material">
        <label th:for="isDelivered"></label>
        <div>
            <input class="form-control" th:field="*{delivered}" th:value="${delivered}" type="hidden"/>
            <span th:errors="*{delivered}" class="error"></span>
        </div>
    </div>
    <input type="submit" value="Edit order"/>
</form>

</body>
</html>