<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation_home"></nav>
</head>
<body>
    <p th:unless="${flows} and ${flows.size()}">no flow yet :(</p>


    <table class="table" th:object="${flow}">

        <tr>
            <td>Date</td>
            <td>ID</td>
            <td>Name</td>
            <td>Quantity</td>
            <td>Description</td>

        </tr>

        <tr th:each="flow:${flows}">
            <td th:text="${flow.date}"></td>
            <td th:text="${flow.flowId}"></td>
            <td th:text="${flow.name}"></td>
            <td th:text="${flow.flowQuantity}"></td>
            <td th:text="${flow.description}"></td>
        </tr>
    </table>
    <b><a href="/flow/add">add flow</a> |</b>
    <b><a href="/material">Material</a> |</b>
    <b><a href="/supplier">Supplier</a> |</b>
    <b><a href="/location/">Locations</a>|</b>
    <b><a href="/location/search">search Location</a>|</b>
</body>
</html>

