<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <h1 th:text="${title}">Default Title</h1>
</head>
<body>
<form method="POST" style="max-width:600px;" th:object="${eflow}" action="add">
    <div class="form-group">
        <label th:for="date">Date</label>
        <div>
            <input class="form-control" th:field="*{date}" type="date"/>
            <span th:errors="*{date}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="quantityflow">Quantity</label>
        <div>
            <input class="form-control" th:field="*{quantityflow}"/>
            <span th:errors="*{quantityflow}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="material">Material</label>
        <select name="materialId">
            <option th:each="mat:${materials}"
                    th:text="${mat.matName}"
                    th:value="${mat.matId}">
            </option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="fournisseur">Fournisseur</label>
        <select name="fournisseurId">
            <option th:each="four:${fournisseurs}"
                    th:text="${four.name}"
                    th:value="${four.fournisseurId}">
            </option>
        </select>
    </div>
    <div class="material">
        <label th:for="description">Description</label>
        <div>
            <input class="form-control" th:field="*{description}"/>
            <span th:errors="*{description}" class="error"></span>
        </div>
    </div>
    <input type="submit" value="Confirm the flow" />
</form>

</body>
</html>
