<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation_home"></nav>
</head>
<body class="container">
    <p th:unless="${eflows} and ${eflows.size()}">No extern flow yet :(</p>


    <table class="table">

        <tr>
            <th>Date</th>
            <th>FlowID</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Material</th>
            <th>Fournisseur</th>
        </tr>

        <tr th:each="eflow:${eflows}">
            <td th:text="${eflow.date}"></td>
            <td th:text="${eflow.id}"></td>
            <td th:text="${eflow.description}"></td>
            <td th:text="${eflow.quantityflow}"></td>
            <td>
                <a th:href="'/material/id='+${eflow.material.matId}">
                    <span th:text="${eflow.material.matId}"></span>
                </a>
            </td>
            <td>
                <a th:href="'/fournisseur/id='+${eflow.fournisseur.fournisseurId}">
                    <span th:text="${eflow.fournisseur.fournisseurId}"></span>
                </a>
            </td>

        </tr>
    </table>
    <b><a href="/flow/add">add flow</a> |</b>
    <b><a href="/material">Material</a> |</b>
    <b><a href="/supplier">Supplier</a>|</b>
    <b><a href="/location/">Locations</a>|</b>
    <b><a href="/location/search">search Location</a>|</b>
</body>
</html>

