<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation_home"></nav>
<div th:unless="${eflows} and ${eflows.size()}" th:text="${title}"></div>
<div>
    <hr/>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>FlowID</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Material</th>
            <th>Fournisseur</th>
        </tr>

        <tr th:each="eflow:${eflows}">
            <td th:text="${eflow.date}"></td>
            <td><a th:href="'id='+${eflow.id}" th:text="${eflow.id}"></a></td>
            <td th:text="${eflow.description}"></td>
            <td th:text="${eflow.quantityflow}"></td>
            <td>
                <a th:href="'/material/id='+${eflow.material.matId}">
                    <span th:text="${eflow.material.matId}"></span>
                </a>
            </td>
            <td>
                <a th:href="'/fournisseur/id='+${eflow.fournisseur.fournisseurId}">
                    <span th:text="${eflow.fournisseur.fournisseurId}"></span>
                </a>
            </td>

        </tr>
    </table>
    <hr/>
</div>
<div>
    <b><a href="/eflow/add">add Eflow</a>|</b>
    <b><a href="/flow/add">add flow</a> |</b>
    <b><a href="/material">Material</a> |</b>
    <b><a href="/supplier">Supplier</a>|</b>
    <b><a href="/location/">Locations</a>|</b>
    <b><a href="/location/search">search Location</a>|</b>
<hr/>
</div>

</body>
</html>

