<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation_home"></nav>

<p th:unless="${fournisseurs} and ${fournisseurs.size()}">no fournisseur yet :(</p>

<p>List of fournisseurs</p>
<table class="table">

    <tr>
        <th>Fournisser_id</th>
        <th>Fournisseur_name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Fax</th>
        <th>Materials</th>
    </tr>

    <tr th:each="fournisseur:${fournisseurs}">
        <td><a th:href="'id='+${fournisseur.fournisseurId}" th:text="${fournisseur.fournisseurId}"></a></td>
        <td th:text="${fournisseur.name}"></td>
        <td th:text="${fournisseur.email}"></td>
        <td th:text="${fournisseur.address}"></td>
        <td th:text="${fournisseur.phone}"></td>
        <td th:text="${fournisseur.fax}"></td>
        <td><Strong th:each="material:${fournisseur.materials}">
                <strong>|</strong>
                <a th:href="'/material/id='+${material.matId}" th:text="${material.matId}"></a>
        </Strong>
            <strong>|</strong>
        </td>
<!--        <td>
            <strong th:each="eflow:${eflows}" th:if="${eflow.fournisseur.fournisseurId}==${fournisseur.fournisseurId}">
                <strong>|</strong>
                <a th:href="'/material/id='+${eflow.material.matId}" th:text="${eflow.material.matId}"></a>
            </strong>
            <strong>|</strong>
        </td>-->
    </tr>
</table>
<nav>
    <b><a href="/fournisseur/add">Add new fournisseur</a>|</b>
    <b><a href="/fournisseur/search">Search fournisseur</a> |</b>
    <b><a href="/material">Materials</a> |</b>
    <b><a href="/flow">flow</a> |</b>
    <b><a href="/material">Material</a> |</b>
    <b><a href="/location">Locations</a> |</b>
    <b><a href="/location/search">search Location</a> |</b>
</nav>
</body>
</html>