<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <h1 th:text="${title}">Default title</h1>
</head>
<body>
<form action="search"  style="max-width:600px;"  method="POST">
    <input type="radio" name="searchTerm" value="id"/> Id <br/>
    <input type="radio" name="searchTerm" value="name"/> Name <br/>
    <input type="radio" name="searchTerm" value="email"/> Email <br/>
    Enter the search value of search term <input type="text" name="searchValue"/><br/>
    <input type="submit" value="search"/>
</form>
</body>
</html>