<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation_home"></nav>

<div th:unless="${materials} and ${materials.size()}" th:text="${title}">No material yet :(</div>

<div th:if="${materials} and ${materials.size()}">
<table class="table" >

    <tr>
        <th>Materials</th>
    </tr>

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Stock</th>
        <th>Locations</th>
        <th>Fournisseurs</th>
    </tr>

    <tr th:each="mat:${materials}">
        <td><a th:href="'material/id='+ ${mat.matId}" th:text="${mat.matId}"></a></td>
        <td><a th:href="'material/name='+ ${mat.matName}" th:text="${mat.matName}"></a></td>
        <td th:text="${mat.description}"></td>
        <td th:text="${mat.stock}"></td>
        <td>
           <strong th:each="location:${alllocations}" th:if="${location.material.matId}==${mat.matId}">
           <!--<strong th:each="location:${mat.locations}">-->
                <strong>|</strong>
                <a th:href="'/location/id='+${location.locationId}" th:text="${location.locationId}"></a>
            </strong>
            <strong>|</strong>
        </td>
        <td>
<!--            <strong th:each="eflow:${allEFlows}"
                    th:if="${#bools.isTrue(#arrays.contains(mat.fournisseurs,eflow.fournisseur))}">
                <strong>|</strong>-->

<!--            <strong th:each="eflow:${allEFlows}" th:if="${eflow.material.matId}==${mat.matId}">
                <strong>|</strong>
                <a th:href="'/fournisseur/id='+${eflow.fournisseur.fournisseurId}" th:text="${eflow.fournisseur.fournisseurId}"></a>
            </strong>
            <strong>|</strong>-->
            <strong th:each="fournisseur:${mat.fournisseurs}">
                <strong>|</strong>
                <a th:href="'/fournisseur/id='+${fournisseur.fournisseurId}" th:text="${fournisseur.fournisseurId}"></a>
            </strong>
            <strong>|</strong>

        </td>
    </tr>
</table>
</div>
<div>
<b><a href="/material/reception">Add Material</a> |</b>
<b><a href="/material/remove">Remove Material</a> |</b>
<b><a href="/flow/">flow</a> |</b>
<b><a href="/material">Material</a> |</b>
<b><a href="/supplier">Supplier</a> |</b>
<b><a href="/location/">Locations</a> |</b>
<b><a href="/location/search">search Location</a> |</b>
</div>
</body>
</html>