<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript"></script>
    <h1 th:text="${title}">Default title</h1>
</head>
<body>

<form method="POST" action="remove">

    <div th:each="material : ${materials}" class="checkbox">
        <input type="checkbox" name="materialId" th:value="${material.matId}" th:id="${material.matId}"/>
        <label th:for="${material.matId}" th:text="${material.matName}"></label>
        <br/>
    </div>
    <input type="submit" value="Remove" />
</form>

</body>
</html>