<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
    <form action="search"  style="max-width:600px;"  method="POST">
        <input type="radio" name="searchTerm" value="materialId"/> Material Id <br/>
        <input type="radio" name="searchTerm" value="materialName"/> Material Name <br/>
        <input type="radio" name="searchTerm" value="availableStock"/> Available stock <br/>
        Enter the search value of search term <input type="text" name="searchValue"/><br/>
        <input type="submit" value="search"/>
    </form>
</body>

</html>