<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <h1 th:text="${title}">Default title</h1>
</head>
<body>
<form method="POST" style="max-width:600px;" th:object="${location}" action="add">
    <div class="location">
        <label th:for="name">Name</label>
        <div>
            <input class="form-control" th:field="*{name}"/>
            <span th:errors="*{name}" class="error"></span>
        </div>
    </div>

    <div clas="location">
        <label th:for="locationStock">Stock to be located</label>
        <div>
            <input class="form-control" th:field="*{locationStock}"/>
            <span th:errors="*{locationStock}" class="error"></span>
        </div>
    </div>
    <br/>

   <div class="form-group">
        <label th:for="material">material</label>
        <select name="materialId">
            <option th:each ="material : ${materials}"
                    th:text ="${material.matName}"
                    th:value="${material.matId}">
            </option>
        </select>
    </div>
    <input type="submit" value="Add a new location"/>
</form>
<fieldset>
    <legend>Available locations informations</legend>
    <table>
        <tr>
            <th>Location_ID</th>
            <th>Name</th>
            <th>Material_Id</th>
            <th>Material_Name</th>
            <th>Material_Stock</th>
        </tr>
    <tr th:each="location:${availableLocations}">
        <td th:text="${location.locationId}"></td>
        <td th:text="${location.name}"></td>
        <td th:text="${location.material.matId}"></td>
        <td th:text="${location.material.matName}"></td>
        <td th:text="${location.locationStock}"></td>
    </tr>
    </table>
</fieldset>

</body>
</html>