<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
<nav th:replace="fragments :: navigation_home"></nav>

<p> This Location has been added</p>

<table class="table">
    <tr>
        <th>Location_ID</th>
        <th>Location_Name</th>
        <th>Material_Id</th>
        <th>Material_Name</th>
        <th>Material_Stock</th>
    </tr>
    <tr>
        <td th:text="${newlocation.locationId}"></td>
        <td th:text="${newlocation.name}"></td>
        <td ><a th:href="'/material/id='+${newlocation.material.matId}" th:text="${newlocation.material.matId}"></a></td>
        <td><a th:href="'/material/id='+${newlocation.material.matId}" th:text="${newlocation.material.matName}"></a></td>
        <td th:text="${newlocation.locationStock}"></td>
    </tr>
</table>

<table class="table">

    <tr>
        <th>Location_ID</th>
        <th>Location_Name</th>
        <th>Material_Id</th>
        <th>Material_Name</th>
        <th>Material_Stock</th>
    </tr>

    <tr th:each="location:${locations}">
        <!--<li><a th:href="'supplier/'+${supplier.id}" th:object="${supplier}"></a></li>-->
        <td th:text="${loc.locationId}"></td>
        <td th:text="${loc.name}"></td>
        <td th:text="${#loc.material.matId}"></td>
        <td th:text="${#loc.material.matName}"></td>
        <td th:text="${loc.locationStock}"></td>
    </tr>
</table>
<b><a href="/material">Material</a> |</b>
<b><a href="/supplier">Supplier</a> |</b>
<b><a href="/location">Locations</a></b>

</body>
</html>