<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default title</title>
</head>
<body>

<table class="table">

    <tr>
        <th> This Location has been added</th>
    </tr>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Stock</th>
    </tr>

    <tr>
        <!--<li><a th:href="'supplier/'+${supplier.id}" th:object="${supplier}"></a></li>-->
        <td th:text="${location.locationId}"></td>
        <td th:text="${location.name}"></td>
        <td th:text="${location.locationStock}"></td>
    </tr>
</table>
<b><a href="/material">Material</a> |</b>
<b><a href="/supplier">Supplier</a></b>
<b><a href="/location">Locations</a></b>

</body>
</html>