<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <h1 th:text="${title}">Default Title</h1>
</head>
<body>
<nav th:replace="fragments :: navigation_home"></nav>

<p th:unless="${locations} and ${locations.size()}">no supplier yet :(</p>

<b>List of Location</b>
<table class="table" >

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Material Id</th>
        <th>Material Name</th>
        <th>Material Stock</th>
    </tr>

    <tr th:each="location:${locations}">
        <!--<li><a th:href="'supplier/'+${supplier.id}" th:object="${supplier}"></a></li>-->
        <td th:text="${location.locationId}"></td>
        <td th:text="${location.name}"></td>
        <td th:text="${location.material.matId}"></td>
        <td th:text="${location.material.matName}"></td>
        <td th:text="${location.locationStock}"></td>
    </tr>
</table>
<b><a href="/material">Material</a> |</b>
<b><a href="/supplier">Supplier</a>|</b>
<b><a href="/location/add">Add Location</a>|</b>
<b><a href="/location/search">search Location</a>|</b>
</body>
</html>