<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${locations} and ${locations.size()}">no supplier yet :(</p>


<table class="table">

    <tr>
        <th>List of Location</th>
    </tr>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Stock</th>
    </tr>

    <tr th:each="location:${locations}">
        <!--<li><a th:href="'supplier/'+${supplier.id}" th:object="${supplier}"></a></li>-->
        <td th:text="${location.locationId}"></td>
        <td th:text="${location.name}"></td>
        <td th:text="${location.locationStock}"></td>
    </tr>
</table>
<b><a th:href="/material">Material</a> |</b>
<b><a th:href="/supplier">Supplier</a></b>
<b><a th:href="/location">Locations</a></b>

</body>
</html>