<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>

    <title th:text="${title}"></title>
    <script type="text/javascript" src="scriptsearch.js">
</script>

</head>
<body>
<form method="POST" action="search">
    <div>

        Location id:  <input  type="checkbox" id="locationiId" th:value="locationid" onclick="myFunction()"/>
        Location name:<input  type="checkbox" id="locationName" th:value="name" onclick="myFunction()"/>
        Available Stock:<input  type="checkbox" id="locationStock" th:value="locationStock" onclick="myFunction()"/>

    </div>
    <div>
        <input id="locid" name="locationId" type="text" style="display:none" placeholder="Enter the location id"/>

        <input id="locname" name="name" type="text" style="display:none" placeholder="Enter the location name"/>

        <input id="locstock" name="locationStock" type="text" style="display:none"
               placeholder="Enter the requiered Stock at this location"/>
    </div>
    <input type="submit" value="search"/>
</form>
<script type="text/javascript">
    function myFunction() {
var optionlocationId = document.getElementById("locationiId");
var inputfieldid = document.getElementById("locid");

var optionlocationName=document.getElementById("locationName");
var inpufieldlocationName=document.getElementById("locname");

var optionlocationStock=document.getElementById("locationStock");
var inpufieldlocationStock=document.getElementById("locstock");

if (optionlocationId.checked == true){
inputfieldid.style.display = "block";
} else {
inputfieldid.style.display = "none";
}

if (optionlocationName.checked == true){
inputfiellocationName.style.display = "block";
} else {
inputfieldlocationName.style.display = "none";
}

if (optionlocationStock.checked == true){
inputfieldlocationStock.style.display = "block";
} else {
inputfieldlocationStock.style.display = "none";
}
}
</script>


</body>

</html>

