<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:replace="fragments :: navigation_home"></nav>

<div th:unless="${taskListOfMaterialNeedingRelocation} and ${taskListOfMaterialNeedingRelocation.size()}"><h2 th:text="${title}"></h2></div>
<div>
<table class="table" >
    <thead>
    <tr>
        <th>Location_ID</th>
        <th>Location_Name</th>
        <!--<th>Material Id</th>-->
        <th>Material_Name</th>
        <th>Stock need location</th>
        <th>Actuel_locations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task:${taskListOfMaterialNeedingRelocation}">
        <!--<h4><a th:href="'location/'+${location.locationId}" th:object="${location}"></a></h4>-->
        <td><a th:href="@{/location/add}" th:text="relocate"></a></td>
        <td th:text="unknown"></td>
        <!--split the string  task into 2 substrings with delimiter ":" and take the first substring [0]-->
        <td><a th:href="'/material/name='+${#strings.listSplit(task,':')[0]}" th:text="${#strings.listSplit(task,':')[0]}"></a></td>
        <!--<td th:text="${#strings.listSplit(task,':')[0]}"></td>-->
        <!--split the string  task into 2 substrings with delimiter ":" and take the second substring-->
        <td th:text="${#strings.listSplit(task,':')[1]}"></td>
        <td th:text="${#strings.listSplit(task,':')[2]}"></td>
    </tr>
    </tbody>
</table>
</div>
<hr/>
<footer>
<b><a href="/material">Material</a> |</b>
<b><a href="/supplier">Supplier</a>|</b>
<b><a href="/location/add">Add Location</a>|</b>
<b><a href="/location/task">Location tasks</a>|</b>
<b><a href="/location/search">search Location</a>|</b>
</footer>
</body>
</html>